.About .Profile {
  background-color: #272827;
}

.bg {
  background-color: #212121;
  padding: 2em;
  padding-top: 0;
}

.bgShadow {
  border-radius: 50px;
  background: linear-gradient(145deg, #ffffff, #d8d8d8);
  box-shadow: 20px 20px 30px #cccccc, -20px -20px 30px #f0f0f0;
  margin-bottom: 3em;
}

#Contact {
  background-color: #272827;
  margin-top: 8em;
}

.Techniques {
  display: flex;
  justify-content: center;
  margin-left: 5em;
}

.Techniques2 {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.text-white {
  color: white;
}

.text-crimson {
  color: crimson;
}

.email {
  background-color: crimson;
  margin-bottom: 2em;
}
.shadow {
  -webkit-box-shadow: 0px 2px 6px 2px rgba(92, 112, 133, 0.1);
  -moz-box-shadow: 0px 2px 6px 2px rgba(92, 112, 133, 0.1);
  box-shadow: 0px 2px 6px 2px rgba(92, 112, 133, 0.1);
}
/*********************** SPACINGS ***********************/
.padding5 {
  padding: 0.5rem 0;
}
.padding10 {
  padding: 1rem 0;
}
.padding15 {
  padding: 1.5rem 0;
}
.padding20 {
  padding: 2rem 0;
}
.padding30 {
  padding: 3rem 0;
}
.padding40 {
  padding: 4rem 0;
}
.padding60 {
  padding: 6rem 0;
}
/*********************** FONTS ***********************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
.weight500 {
  font-weight: 500;
}
.weight800 {
  font-weight: 800;
}
.font9 {
  font-size: 0.9rem;
}
.font10 {
  font-size: 1rem;
}
.font11 {
  font-size: 1.1rem;
}
.font12 {
  font-size: 1.2rem;
}
.font13 {
  font-size: 1.3rem;
}
.font14 {
  font-size: 1.4rem;
}
.font15 {
  font-size: 1.5rem;
}
.font20 {
  font-size: 2rem;
}
.font23 {
  font-size: 2.3rem;
}
.font24 {
  font-size: 2.4rem;
}
.font30 {
  font-size: 3rem;
}
.font35 {
  font-size: 3.5rem;
}
.font40 {
  font-size: 4rem;
}
.font60 {
  font-size: 6rem;
  line-height: 8rem;
}
