/* Range */
input[type="range"] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 60%;
}
input[id="switch"] {
  -webkit-appearance: none;
  width: 20%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 80%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 2px rgb(255, 137, 161);
  background: #ed3b57;
  border-radius: 10px;
  border: 2px solid #ed3b57;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 30px;
  border-radius: 8px;
  background: #ed3b57;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #50555c;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #50555c;
  background: #50555c;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: crimson;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  /* height: 14px; */
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #50555c;
  border: 0px solid #000000;
  /* border-radius: 28px; */
  box-shadow: 1px 1px 1px #50555c;
}
input[type="range"]::-ms-fill-upper {
  background: #50555c;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #50555c;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 50px;
  width: 40px;
  border-radius: 12px;
  background: crimson;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #50555c;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #50555c;
}

/* Output */
.output .col {
  border: crimson 1px solid;
  padding: 1rem;
  font-size: 1.5em;
}
.output span {
  font-size: 0.5em;
  color: crimson;
}

.calc {
  height: 90vh;
  padding: 3em 5em 5em 5em;
  background-color: #f0f0f0;
  color: #404040;
}

.container {
  background: linear-gradient(270deg, #ff5100, #ea98e7);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg {
  background-color: #212121;
  padding: 2em;
  padding-top: 0 !important;
}

.calcTitle {
  text-align: left;
}

.calcForm, .calcResults {
  margin-top: 2em;
}

.bgShadow, .calc {
  border-radius: 50px;
  background: linear-gradient(145deg, #ffffff, #d8d8d8);
  box-shadow:  20px 20px 30px #cccccc, 
              -20px -20px 30px #f0f0f0;
  margin-bottom: 3em;
}